.concept-bloc {
    max-width: 55em;
    justify-content: center;
    gap: 10em;
    & .quote {
        max-width: 70%;
        text-align: start;
        margin: 0 auto;
    }
}

.card-concept {
    gap: 25px;
    align-items: center;
    img {
        object-fit: cover;
        object-position: center;
    }
    h2 {
        font-size: 22px;
    }
}