.concept-bloc {
    max-width: 55em;
    min-height: 100vh;
    background-color: rgba($color: white, $alpha: .2);
    & .quote {
        max-width: 70%;
        margin: 0 auto;
    }
}

.card-concept {
    img {
        object-fit: cover;
        object-position: center;
    }
    h2 {
        font-size: 22px;
    }
}