.bg-img{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.bg-img-filter {
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}
.home-bloc{
    min-height: 100vh;
    text-align: start;
}
.img-bloc {
    img {
        width: 90px;
        height: 90px;
        rotate: -15deg;        
        object-fit: cover;
        object-position: center;
    }
    @include  media-breakpoint-down(md) {
        img {
            rotate: 15deg;        
        }
    }
}