.products-bloc{
    min-height: 100vh;
    .products-bloc-list {
        // width: auto;
    }
    @include  media-breakpoint-down(md) {
        .products-bloc-list {
            width: 100%;
            margin: auto;
        }
    }
    .card {
        background-color: $bg-transparent;
        img {
            height: 230px;
            object-fit: cover;
            object-position: center;
        }
    }
}